﻿{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<form method="post"> {% csrf_token %}
    <select name="filtro">
        {% for category in categories %}
            <option value="{{category.question_cat}}">{{category.question_cat}}</option>
        {% endfor %}
    </select>
    <button type="submit"> Filtrar </button>
</form>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }} - {{ question.question_cat }}</a></li>
    {% endfor %}
    </ul>
  
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h2>Insertar pregunta</h2></a> 
{% endif %}

{% endblock %}